* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-color {
    /* min-height: 400px;
    height: 100%;
    width: 100%; */
    background-color: #8e79fa;
}

.centralizarDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#cardIndexTeste {
    width: 70%;
    margin-top: 30px;
    min-height: 200px;
}